.btn {
  padding: 5px 10px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  transition-property: border-color, background-color, color;
  transition-duration: 0.36s;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  background-color: white;
  border-color: white;
  color: black;
}
